---
import Email from "./logosLink/Email.astro";
import Github from "./logosLink/Github.astro";
import Linkedin from "./logosLink/Linkedin.astro";

const { t } = Astro.props;
---

<section
  class="m-0 my-12 flex flex-col items-center justify-center gap-12 md:my-24 md:flex-row"
>
  <img class="h-52 rounded-full" src="/me.webp" alt={t.alt.photo} />
  <div class="flex max-w-md flex-col gap-4">
    <header>
      <h2 class="text-center text-4xl font-bold md:text-left md:text-6xl">
        Albert Salom
      </h2>
      <h3 class="text-center text-3xl font-semibold md:text-left md:text-4xl">
        Software Developer
      </h3>
    </header>
    <p class="my-4 text-center md:my-0 md:text-left">
      {t.description.before}<strong class="text-accent">
        {t.description.highlight}
      </strong>{t.description.after}
    </p>

    <nav class="flex flex-col items-center gap-8 md:flex-row">
      <a
        href="/CVAlbertSalom.pdf"
        target="_blank"
        class="bg-accent text-text-primary flex items-center gap-3 rounded-xl px-6 py-2 text-lg font-semibold"
      >
        <img class="h-6" src="/download.svg" alt={t.alt.download} />
        {t.download}
      </a>
      <div class="flex gap-6">
        <Github
          classList="h-8 filter hover:drop-shadow-[0_0_4px_rgba(255,255,255,0.4)] hover:scale-110 transition-all duration-300"
          altText={t.alt.github}
        />
        <Linkedin classList="h-8 filter hover:drop-shadow-[0_0_4px_rgba(255,255,255,0.4)] hover:scale-105 transition-all duration-300" altText={t.alt.linkedin} />
        <Email classList="h-8 w-8 filter hover:drop-shadow-[0_0_4px_rgba(255,255,255,0.4)] hover:scale-105 transition-all duration-300" altText={t.alt.email} />
      </div>
    </nav>
  </div>
</section>
